<p><strong>DISCLAIMER</strong></p>
<p>YOU EXPRESSLY AGREE THAT USE OF THE App OR ANY OF THE MATERIALS AND/OR CONTENT CONTAINED THEREIN IS AT YOUR OWN AND SOLE RISK. THE App AND ALL MATERIALS AND/OR CONTENT CONTAINED THEREIN ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND.</p>
<p>You further acknowledge and agree that all messages or content posted by you or others anywhere on or through the <strong>CrowdPolice</strong> App shall be deemed to be readily accessible to the general public and consequently should not be considered private or confidential. Notice is hereby given that all messages entered into this App can and may be read by the operators of the App, whether or not they are the intended recipient(s).</p>
<p><strong>INDEMNITY</strong></p>
<p>You agree to defend, indemnify, and hold <strong>CrowdPolice</strong> and its officers, directors, shareholders, employees, independent contractors and agents, harmless from and against any and all claims, actions, liabilities, costs, or demands, including without limitation legal and accounting fees, for all damages directly, indirectly, and/or consequentially resulting or allegedly resulting from your use, misuse, or inability to use the App or any of the materials and/or Content contained therein.</p>