<p><strong>CrowdPolice</strong> SOS is designed as a personal safety app, which would come in handy in various situations and in the unfortunate event that you are in danger or you need to warn others of danger around you, just open the app and hit the SOS Button.</p>
<p><strong>Possible Emergency Scenarios could be:</strong></p>
<ul style="list-style-type: circle;">
    <li>Being followed by strangers or vehicle</li>
    <li>Threatening environment (in a taxi,&hellip;)</li>
    <li>Attempted physical assault or sexual violation</li>
    <li>Domestic violence Incidents</li>
    <li>Being alone incapable of calling an ambulance or in case of an accident or other health issue.</li>
</ul>
<p>CrowdPolice can save your life: just push the SOS button and let your family/friends members or your community policing network know where you are and that you need immediate care. A chat alert, text message and/or email is sent to your selected contact(s) with your name exact GPS location, and a voice recording of the situation just after you press the SOS button.</p>
<p>These messages are sent at regular intervals to help identify if the user is moving</p>
<p><span style="color: #ff0000;"><strong>Stay safe, do not misuse this app. This app is intended to function as a panic button for legitimate emergencies and not to be used for pranks, jokes, or false alarms!!!</strong></span></p>
<p>&nbsp;</p>