<div><strong>WHAT IS In Case of Emergency (ICE) Feature?</strong></div>
<div>&nbsp;</div>
<div><strong>Adding an ICE</strong> ("In Case of Emergency") contact to your phone can help emergency personnel can locate a friend or family member who can speak on your behalf if you become unconscious or incapacitated. This simple idea was developed by a British paramedic, Bob Brotchie, who recognized the need for speed when emergency personnel needs to get information about a patient or contact next of kin. For people with pre-existing medical conditions and allergies, in particular, keeping your emergency contact information close at hand could help save your life!</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><span style="color: #3366ff;"><strong>METHODS TO ADD ICE NUMBERS</strong></span></div>
<div>&nbsp;</div>
<div>1. Using your Phone's built in option</div>
<div><a href="https://www.youtube.com/watch?v=yC0zg8hdHwk&amp;t=154s">Check tutorial</a></div>
<div>&nbsp;</div>
<div>2. Download the app from play store</div>
<div><a href="https://play.google.com/store/apps/details?id=com.lagache.sylvain.ice_android&amp;hl=en ">Check on playstore</a></div>